.border{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.border div{
    height: 200px;
    width: 200px;
    margin: 20px;
    border-width: 2px;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    border-style: solid;
    color: white;
    line-height: 200px;
    text-align: center;
}
.border div:hover{
    border-color:orange;
    border-style: solid;
    font-weight: bolder;
}
