

body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

header{
    position:fixed;
    width: 100%;
    height: 60px;
    top:0;
    left: 0;
}
.container{
    margin-top:60px;
}
h1{
    color: #FFF ;
    background: #e91e63;
    padding: 10px;
    margin: 0;
    height: 40px;
    width: 100%;
}


h2{
    color: #666;
    margin: 0;
    margin:10px;
}
a{
    color: cornflowerblue;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

    .container {
        display: flex;
        flex-flow: row;
        align-items: stretch;
        height: calc(100% - 60px);
    }
    
    .container .sidebar{
        width: calc( 320px - 20px );
        padding: 10px;
        background: #f2f2f2;
    }
    
    .container .context {
        width: calc(100% - 320px - 20px );
        padding: 10px;
    }
    
    .container section {
        align-items: stretch;
    }

/*Extra small devices Phones (<768px)	
Small devices Tablets (≥768px)	
Medium devices Desktops (≥992px)	
Large devices Desktops (≥1200px)*/


/*Extra small devices Phones (<768px)*/
/* ----------- Retina Screens ----------- */
@media only screen and (max-width: 768px){ 
    .container {
        flex-flow: column;
    }
	.container .sidebar, .container .context  {
        width: 100%;
    }
}
@media screen and (max-width: 768px) and (min-width: 992px) { 
	.container .sidebar, .container .context  {
        width: 100%;
    }

}



